
<h2>Send A Direct Email To Your CommuniCare Giver:</h2>
<%= form_tag('/send_email', method: 'POST') do %>
<textarea rows="4" cols="50" placeholder="Enter Message Here" name="body"></textarea>
<button type="submit">Click To Send Email</button>
<% end %>

