<%= stylesheet_link_tag "video" %>


<p id="app-description">Providing Safe and Personalized Care For Your Loved Ones</p>
<p id="app-description">Personal. Caring. Professional.</p>
<ul class="nav nav-pills navbar-static-top">
  <li id="app-title"> CommuniCare </li>
  <li role="presentation"><%= link_to 'Sign Up', new_login_path%></li>
  <li role="presentation"><%= link_to 'Login', new_session_path %></li>
  <li role="presentation"><a href="#">About</a></li>
</ul>


    <video autoplay loop muted id="background">
        <source src="http://static.videezy.com/system/resources/previews/000/001/779/original/003ClayPotter.mp4" type="video/mp4">
    </video>
        <div class="container">

        </div>

