<%= stylesheet_link_tag "video" %>


<p id="app-description">Providing Safe and Personalized Care For Your Loved Ones</p>
<p id="app-slogan">Personal. Caring. Professional.</p>
<p id="app-description">Relief for caregivers worldwide. </p>


    <video autoplay loop muted id="background">
        <source src="http://static.videezy.com/system/resources/previews/000/001/779/original/003ClayPotter.mp4" type="video/mp4">
    </video>
        <div class="container">

        </div>
<div id="footer">
  <p id="footer-text"> &copy; CommuniCare app made by Courtney Wiggins, David Roberts, and Eric Shou</p>
</div>
