<center> <h1> Communicare </h1>
<p> Providing Safe and Personalized Care For Your Loved Ones</p>
<div align="center">
  <h3><%= link_to 'Already A Member?', new_session_path%></h3>
</div>
<div align="center">
  <h3> Looking For Care? Register And Get Started</h3>
</div>

