#footer {
    background-color: #424242;
    border-top: 1px solid black;
    color: #222222;
}

#footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer-text {
  position:relative;
  top: 4%;
  color: white;
  padding-left: 2em;
  padding-top: 0.3em;
  font-size: 10px;
}
