body{
  width:100%;
}

#app-title {
  font-size: 35px;
  color: black;
  font-family: 'Libre Baskerville', serif;
  text-shadow:#2e2e2e 0 4px 5px;
}

p:first-letter {
  text-transform: uppercase;
}

#app-description {
  position:relative;
  top: 100px;
  color: #222222;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: : lowercase;
  line-height: 145%;
  font-size: 15pt;
  font-variant: small-caps;
}

#app-slogan {
  position:relative;
  top: 100px;
  color: #222222;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: : lowercase;
  line-height: 145%;
  font-size: 18pt;
  font-variant: small-caps;
}

.navbar-static-top {
    width: 100%;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,.1);
    background-color: #e5e5e5;
    background-color: rgba(0,0,0,.1);
}


.nav.nav-pills.navbar-static-top li a {
  color: black;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
}

.nav.nav-pills.navbar-static-top li a:hover {
  background-color:#595959;
  }