.user-form-container{
  padding-top: 10%;
  width: 80%;
  margin: auto;
}


#mainregister {
  background-color: #d6d6c2;
}


.errors {
    height: 50px;
}

.errors ul{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding-left:0;
}

