#profile-show {
    width: 50%;
  margin: auto;
}

.nav-tabs {
}


.profile-basic-text{
  padding-top:3rem;
}

.basic-info {
  padding-bottom:2rem;
}


.nav-tabs{
  height: 2.085rem;
  padding-left: 0;
}

.nav-tabs > li {
  padding-right: 2em;
}

.contact-submit{
  font-size: 1.25em;
}

.sub-profile-header {
  border-bottom: 1px solid #ddd;
}
