#profile-show {
    width: 50%;
  margin: auto;
}

.nav-tabs a{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}


.profile-basic-text{
  padding-top:3rem;
}

.basic-info {
  padding-bottom:2rem;
}


.nav-tabs{
  height: 2.085rem;
}

.nav-tabs > li {
  padding-right: 2em;
}

.contact-submit{
  font-size: 1.25em;

}

.sub-profile-header {
  border-bottom: 1px solid #ddd;
}

