.user-profile-container {
  position:relative;
   top: 20%;
   left: 40%;

  margin-bottom: 100%;
  margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
}

#profile-primary-show {
  background-color: #d6d6c2;
  width: 100%;
}

.primary-profile-info {
  width: 50%;
  margin: auto;
}

#profile-pic {
  position: relative;
  top: 5em;
}

.about {
  position: relative;
  top: 5em;
}

.show-container {
  background-color: #d6d6c2;
}

.about-me-edit {
  padding-top:0;
}
