.schedule-basic-text.col-md-3 {
  position:relative;
  left:35%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:24px;
  margin-top: 5px; margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: #222;
}

#schedule-text {
  font-family: "Lucida Grande", Tahoma;
  font-size: 10px;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #666666;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
}

#calendar {
  position: relative;
  top: 5em;
}

#schedule-container {
  background-color: #ffe5e5;
  background-image: url("http://www.acaringhand.com/images/image3.gif");
  background-repeat: no-repeat;
  background-position: 70% 1%;
}