// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#session-body {
    height: 100%;
    background-color: #d6d6c2;
}

.user-login-container {
  width: 80%;
  margin: auto;
  margin-bottom: 100%;
}
