.nav.nav-pills.navbar-static-top {
    width: 100%;
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

#welcome-user {
    font-family: veranda;
}

#search-bar-caregiver {
    font-family: veranda;
}